<template name ="welcomeView">
	<div class= "panel welcome" ng-show="panel.isSelected(1)">
		<div class="cover-container">
			<div class="inner cover col-sm-offset-1 col-sm-10">
			  <h1 class="cover-heading"><span class="yellow">Welcome to GearInUp!</span></h1>
			  <p class="lead">
			  	GearInUp is your one stop shop for everything <span class="yellow">GoPro!</span> Rent out a camera for a month long <span class="yellow">excursion</span> or just a weekend <span class="yellow"> adventure</span>! Wherever the world may take you, we have a package ready to capture any <span class="Yellow"> journey</span>!
			  </p>
			  <p class="submit">
			   	<a href ng-click="panel.selectTab(2)" class="btn btn-lg btn-success">See Packages</a>
			  </p>
			</div>
		</div>
	</div>
</template>